*{
		margin: 0;
		padding: 0;
		color: green;
		scroll-behavior: smooth;
		font-family: 'Alegreya', serif;
	}

#hcontainer{
	position: fixed;
	top:0;
	display: flex;
	width: 100%;
	height: 85px;
	background: #4f9cb8;
	z-index: 3;
	justify-content: flex-end;
}

#hitem2{
	display: flex;
	height:100%;
	width:100%;
	flex-direction: row;
	margin-right: 25px;
}

#hitem1{
	display: flex;
	height:100%;
	width: 50%;
	background: black;
	font-family: 'Griffy', cursive;
	
}

#title{
	align-self: center;
	font-size: 50px;
	color: #e6e6e6;
	margin-left: 10px;
}

#nav-bar{
	justify-self: end;
	align-self: center;
	font-size: 30px;
	display: flex;
	margin-left: auto;
}

#nav-bar a:link{
	color:#f5eaea;
	text-decoration: none;
}

#nav-bar a:visited{
	color:#f5eaea;
	text-decoration: none;
}

#nav-bar a:hover{
	color:#7fcd91; 
	text-decoration: none;
	background-color: #f5eaea;
}

#nav-bar a:active{
	position: relative;
	font-size:30px;
	color:#7fcd91; 
	text-decoration: none;
	transform: scale(.95);
}

.nav-link{
	padding: 25px;
	padding-top: 20px;
	background-color: #4f9cb8;
	justify-self: center;
	font-family: 'Alegreya', serif;

}

#container1{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	
	height: 100%;
	width: 100%;
	justify-content: center;
}

#item2-back{
	height: 100vh;
	width:100%;
	background-color: #292929;
	background-attachment: fixed;
	background-size: contain;
}

#item2{
	display: block;
	height: 100vh;
	width: 100%;
	
	padding-top: 100px;
	color: #f5eaea;
	text-align: center;
	
}

#continue{
	position:relative;
	padding: 15px;
	background-color: #4f9cb8;
	text-align: center;
	font-size: 30px;
	top: 305px;
	font-family: 'Alegreya', serif;
	color: #f5eaea;
	border-radius: 5px;
}

#item2 a:active{
	position: relative;
	font-size:28px;
	color:black; 
	text-decoration: none;
	transform: scale(.95);
}

#home{
	font-size: 100px;
	position:relative;
	top: 200px;
	color: #e6e6e6;
	font-family: 'oxanium';
	font-weight: bold;
	
}

#home2{
	font-size: 30px;
	color: ##32a852;
	font-family: 'Merienda', serif;
	position: relative;
	top: 200px;
	color: #9159c9;
}

a:link{
	text-decoration: none;
}

#projects{
	display: block;
	width: 100%;
	background-color: #140029;
}

#Ptitle{
	justify-self: center;
	margin-top: 100px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
}

#Ptitle2{
	color: #f5eaea;
	font-size: 50px;
	text-align: center;
	border-bottom: 2px solid #f5eaea;
	padding-bottom: 20px;
	font-family: 'Alegreya', serif;
}

#examples{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 400px));
	grid-gap: 30px;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 50px;
	justify-content: space-evenly;
}
	
}

#Gitem1{
	height: 450px;
	width: 450px;
	object-fit: cover;
}

.img{
	height: 400px; 
	width: 100%;
	object-fit: cover;
	border-radius: 5px 5px;
	box-shadow: 3px 3px 4px 1px black;
}

.desc{
	minmax(330px, 400px;);
	position: relative;
	bottom: 4px;
	text-align: center;
	background: grey;
	padding: 20px;
	color: #fafafa;
	background: #292929;
	font-size: 25px;
	font-family: 'Oxanium', monospace;
	border-radius: 0 0 5px 5px;
	box-shadow: 3px 3px 4px 1px black;
}

#info{
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: grey;
	transition: width 2s;
}

#Bcontainer{
	position: relative;
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	background: ;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
}

#img2{
	position: relative;
	display: block;
	margin: 0 auto;
	height: 50px;
	z-index: 3;
	background: grey;
	padding-left: 20px;
	padding-right: 20px;
	transition: .4s;
}

#button{
	display: block;
	height: 50px;
	width: 70px;
}

#Btext{
	position: absolute;
	display: flex;
	height: 50px;
	width: 70px;
	background: ;
	transition: .4s;
}

#Btext1{
	text-align: center;
	font-size: 30px;
	color: white;
	align-self: center;
}

#button:hover #img2{
	transform: scale(1.2);
}

#button:hover #Btext{
	transform: translate(150%);
}

#copyright{
	border-top: 1px solid black;
	display: flex;
	position: absolute;
	height: 150px;
	width: 100%;
	background: ;
	bottom: 0;
}

#copyright1{
	display: grid;
	height: 150px;
	width: 500px;
	grid-template-columns: 250px 250px;
	background: ;
	margin-left: auto;
	margin-right: auto;
}

#copytext{
	display: block;
	font-size: 30px;
	color: white;
	justify-self: center;
	align-self: center;
	font-family: 'oxanium';
}

#copytext1{
	display: block;
	font-size: 30px;
	color: white;
	justify-self: center;
	align-self: center;
	font-family: 'Merienda';
}

@media screen and (max-width: 992px) {
  #Bcontainer {
    flex-direction: column;
	top: 10px;
  }
  
  #button{
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 60px;
  }
}
